<h1>Edit Article</h1>

<%= render 'form', articlesection: @articlesection %>

<%= link_to 'Show', @articlesection ,class:"btn btn-outline-secondary"%>
<%= link_to 'Back', articlesections_path ,class:"btn btn-outline-secondary"%>
<br>
<br>
