<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    Hey <%=@user%><br>
    <p>Your account is banned for some reasons!</p>
    </p>
    <p>We will notify when your account gets unbanned!</p>
    <p>Thank You!</p>
  </body>
</html>
