<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hey <%=@user%><br>
    <p>Your account is unbanned!</p>

    <p>Happy to see you unbanned! Keep sharing your blogs in our site</p>
    <br>
    <p>Thank You!!</p>
  </body>
</html>
